.header {
  display: flex;
  gap: 8px;
  font-size: 20px;
  line-height: 22px;

  > .header-image {
    height: 100%;
    aspect-ratio: 1;
    background-image: url("../../images/exptech.png");
    background-size: cover;
    background-repeat: no-repeat;
  }

  > .header-title-container {
    display: flex;
    flex-direction: column;

    > .header-title {
      font-weight: 700;
    }

    > .header-page {
      font-size: 16px;
      color: #ccc;
      font-weight: 400;
    }
  }
}