@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);

html,
body {
    font-family: "cwTeXYen", sans-serif;
    user-select: none;
    background-color: #333439;
    color: white;
    margin: 0;
}

table {
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    overflow: hidden;
}

table>thead>tr {
    background-color: hsl(300deg 100% 30%);
    text-align: left;
}

table th,
table td {
    color: #fff;
    padding: 8px 10px;
    text-align: center;
    border: 0.2px solid darkgray;
}

table>tbody>tr>td::after {
    display: block;
    content: attr(data-text);
    font-weight: bold;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    pointer-events: none;
}

table>tbody>tr {
    background-color: hsl(300deg 100% 30% / 12%);
}

table>tbody>tr:nth-of-type(even) {
    background-color: hsl(300deg 100% 60% / 12%);
}

table>tbody>tr:last-of-type {
    border-bottom: 2px solid hsl(300deg 100% 30%);
}

table>tbody>tr:hover {
    font-weight: bold;
    color: hsl(300deg 100% 30%);
}

.index {
    height: 100%;
}

.index1 {
    padding-left: 10px;
    position: fixed;
}

.title {
    font-size: 24px;
    font-weight: 900;
    padding-left: 10px;
}

.subtitle {
    font-size: 16px;
    font-weight: 300;
    padding-left: 10px;
}

.note {
    border-radius: 5px;
    text-align: center;
    color: white;
    background-color: #333439;
    border: 2px solid white;
    outline: none;
    font-size: 20px;
}

.main {
    font-size: 30px;
    display: flex;
    height: 92%;
}

.load {
    font-size: 20px;
    padding: 5px;
    margin: 3px;
    border: 2px solid white;
    border-radius: 5px;
    background-color: dodgerblue;
    cursor: pointer;
}

.menu {
    width: 10%;
    text-align: center;
    position: fixed;
    left: 0;
    margin-top: 51px;
}

.menu1 {
    width: 10%;
}

.box {
    width: 90%;
    overflow: auto;
    height: calc(100vh - 60px);
    margin-top: 51px;
}

.menu-item {
    color: darkgrey;
    font-size: 40px;
    padding: 20px;
    margin: 10px;
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;
}

.box-item {
    display: none;
    padding: 15px;
    height: 95%;
    overflow-y: auto;
}

.box-items {
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    border: 2px solid white;
    width: fit-content;
}

.Pay {
    font-size: 40px;
    font-weight: 900;
    border-radius: 5px;
    color: gold;
    background-color: #333439;
    border-color: gold;
    cursor: pointer;
    padding: 10px;
    margin: 5px;
}

.warn {
    color: gold;
    font-size: 24px;
    padding: 5px;
}

.a {
    font-size: 22px;
}

.a-title {
    font-size: 30px;
    font-weight: 600;
    padding: 3px;
}

.a-subtitle {
    font-size: 22px;
    font-weight: 300;
    padding: 2px;
    margin: 2px;
}

.a-body {
    font-size: 20px;
    padding: 2px;
    margin: 2px;
}

.tag {
    border: 1px solid white;
    border-radius: 5px;
    padding: 2px;
    margin: 2px;
    font-size: 18px;
}

.a-item {
    border: 0.5px solid grey;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

::selection {
    color: #fff;
    background: rgb(255 255 255 / 35%);
}

::-webkit-scrollbar {
    width: 6px;
    background-color: rgb(255 255 255 / 8%);
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: gray;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(255 255 255 / 32%);
}

::-webkit-scrollbar-thumb:active {
    background-color: rgb(255 255 255 / 8%);
}

.code-item {
    border: 2px solid grey;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

.code-title {
    font-size: 28px;
    font-weight: 900;
    padding: 2px;
}

.code-subtitle {
    font-size: 22px;
    font-weight: 300;
    padding: 2px;
}

.code-body {
    font-size: 20px;
    padding: 2px;
}

.studio {
    color: gold;
}

.code-link {
    color: lightskyblue;
    cursor: pointer;
    text-decoration: underline;
    font-size: 24px;
    width: fit-content;
    padding: 2px;
    margin: 2px;
}

.info-item {
    border-radius: 5px;
    border: 2px solid grey;
    padding: 15px;
    margin: 10px;
}

.info-title {
    font-size: 32px;
    font-weight: 900;
}

.info-note {
    font-weight: 600;
    color: indianred;
}

.info-body {
    font-size: 24px;
    padding: 10px;
}

.info-end {
    font-size: 18px;
    padding: 5px;
    font-weight: 400;
}

.out {
    background-color: red;
    cursor: pointer;
    border-color: white;
    color: white;
    border-radius: 5px;
    font-size: 24px;
}