html(lang="zh-Hant")
  head
    title ExpTech | 登入
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="description", content="登入管理你的 ExpTech 帳號")

    //- Facebook Meta Tags
    meta(property="og:site_name", content="探索科技 | ExpTech Studio")
    meta(property="og:url", content="https://exptech.com.tw/api/v1/file/exptech/login.html")
    meta(property="og:type", content="website")
    meta(property="og:title", content="登入")
    meta(property="og:description", content="登入管理你的 ExpTech 帳號")
    meta(property="og:image", content="https://cdn.jsdelivr.net/gh/ExpTechTW/API@master/image/Icon/ExpTech.png")

    //- Twitter Meta Tags
    meta(name="twitter:card", content="summary")
    meta(property="twitter:domain", content="exptech.com.tw")
    meta(property="twitter:url", content="https://exptech.com.tw/api/v1/file/exptech/login.html")
    meta(name="twitter:title", content="登入")
    meta(name="twitter:description", content="登入管理你的 ExpTech 帳號")
    meta(name="twitter:image", content="https://cdn.jsdelivr.net/gh/ExpTechTW/API@master/image/Icon/ExpTech.png")

    link(rel="stylesheet", href="./stylesheets/login.scss")
    link(rel="preconnect", href="https://fonts.googleapis.com")
    link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500&display=swap", rel="stylesheet")

  body
    main
      .container
        .title 登入
        .description 登入管理你的 ExpTech 帳號
        form#login.login-form
          .form-item-container
            .form-item
              label.required(for="email") 電子郵件地址
              input#email(type="email", name="email", placeholder="電子郵件地址", autocomplete="email", required)
            .form-item
              label.required(for="password") 用戶密碼
              input#password(type="password", name="password", placeholder="用戶密碼", autocomplete="current-password", required)
              a.forget-password(href="./forget.pug") 忘記密碼？
            div 如果這不是你的電腦，請使用私密瀏覽視窗登入。
          button#register(type="button") 註冊帳號
          button#submit(type="submit") 登入
      a.info(href="https://exptech.com.tw/f?v=discord") Discord 伺服器

  script(src="./scripts/login.js") 